{% extends 'restaurant/layout.html' %}
{% load static %}


{% block body %}

        <!-- JUMBOTRON -->
        <div class="jumbotron text-center">
            <div class="container container-jumbotron">
              <h1 class="display-4">Izakaya Tako no Ki</h1>
              <p class="lead">Exceptional taste of big town number one Osaka.  Will you not make delicious memory in our business?  Make one.</p>
              <hr class="my-4">
              <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
              <p class="lead"> -->
              <a class="btn button btn-lg" href="{% url 'reservation' %}" role="button">Make Reservations</a>
              <a class="btn button btn-lg" href="{% url 'menu' %}" role="button">Order Online</a>
              <h4>Open Mon-Sun 6pm-12am Daily!</h4>
              </p>
          </div>
        </div>

{% endblock%}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  <script src="{% static 'restaurant/scriptsprime.js' %}"></script>
{% endblock %}