{% extends 'restaurant/layout.html' %}
{% load static %}
{% block body %}

<h1 class="text-center">Menu</h1>
        <div class="container container-menu">
    
            <div class="row">
                <!-- <img class="rounded-circle menu-image" id="okonomiyaki" src="{% static 'restaurant/okonomiyaki.jpg' %}">
                  <h5 class="text-center">Okonomiyaki</h5>
                  <p class="text-center">Japanese-style Pancake with cabbage</p>
                  <button class="btn btn-default order-button">Order</button> -->
                {% for item in menu_items %}
                    <div class='menu-item'>
                        <img class="rounded-circle menu-image" id={{ item.name }} src="/images/{{item.image}}">
                        <h5 class="text-center">{{ item.name }}</h5>
                        <p class="text-center">{{ item.description }}</p>

                        <button class="btn btn-default order-button" id="order_{{ item.name }}" onClick="add_item_to_order({{ item.name }}, {{ item.price }})">Order</button>
                    </div>
                {% endfor %}
            </div><!--ROW ENDS HERE (DELETED A DIV ABOVE THIS that may have been redundant)-->

            <!-- MODALS DYNAMICALLY GENERATED HERE -->

            <div id="add-item-modal" class="modal">
                <span class="item-close">&times;</span>
                <table class="table table-striped" id="add-item">
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    <!-- <tr>
                        <th id='order-name'></th>
                        <th id='order-quantity'></th>
                        <th id='order-price'></th>
                    </tr> -->
    
                </table>
        
                    <!-- Clicking place order will actual create the order model -->
                    <button class="btn btn-primary btn-order">Place Order</button>
                  </div>
            </div>
        </div>


{% endblock %}

{% block script %}
    {{ menu_names|json_script:"menu_names"}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="{% static 'restaurant/scripts.js' %}">
    
    </script>
{% endblock %}