* {
    font-family: Tahoma;
}

/* Set background color for all elements */
body, .jumbotron, .navbar-bg, .button {
    background-color: rgb(119, 65, 15);
    color: white
}

/* NAVBAR */
/* Link colors stay black */
a {
    color: white;
    text-shadow: 0 0 2px black;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    
}

th {
    text-align: center;
}

/* -----------------------------------------------------------------HOMEPAGE ----------------------------------------------------------------- */

body {
    min-height: 100vh;
}
.jumbotron {
    /* background-size: cover tries to scale the image as best it can */
    position: relative;
    background-image: url("images/bar.jpg");
    background-size: cover;
    background-color: beige;
    color: white;
    text-shadow: 0 0 2px black;
    height: 90vh; /* vh sets the viewport height*/
    /* margin: auto; */
}

.container-jumbotron {
    position: absolute;
    bottom: 150px;
    left: 70px;
    right: 100px;
    /* background-color: black; check location of div */
}




/* -----------------------------------------------------MENU CONTAINERS AND ITEMS ---------------------------------------------------------- */

.container-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
}
.menu-item {
    position: relative;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 35px;
    width: 220px;
    height: 280px;
    /* background-color: black; */
}
.menu-image {
    width: 100%;
    height: 150px;
    /* max-height: 125px; */
    /* max-width: 150px; */
}
.order-button {
    position: absolute;
    bottom: 0px;
    left: 38%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(107, 72, 8);
    color: white;
}


/* --------------------------------------------------------------- MODAL -------------------------------------------- */

/* Regular Modal */
/* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    width: 100%;
    heightL 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5)
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration:none;
    cursor: pointer
} */

/* Image Modal */

#my_img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#my_img:hover {
    opacity: 0.7;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left:0;
    right:0;
    width:100%;
    height:100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    margin:auto;
    display: block;
    width: 80%;
    max-width:700px;
    color: black;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width:700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* .modal-content, .current-order {
    animation-name: drop;
    animation-duration: 0.6s;
} */

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.close, .confirm-order-close, .item-close, .login-close, .reservation-close {
    position: absolute;
    top:15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus,
.confirm-order-close:hover,
.confirm-order-close:focus,
.item-close:hover,
.item-close:focus,
.login-close:hover,
.login-close:focus,
.reservation-close:hover,
.reservation-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


#order_modal, #add-item-modal, #login_modal {
    position: absolute;
    margin: auto;
    background-color: rgb(212, 167, 94);
    width: 400px;
    height: 300px;
    border: 2px solid beige;
    animation-name: drop;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


.item_name {
    width: 100px;
}
.quantity_div {
    /* width: 20%; */
    width: 200px;
    position: relative;
    padding: 3px;
    display: flex;
    text-align: center;
 
}
/* .input {
    background-color: beige;
} */

.quantity-input {
    /* position: absolute; */
    width: 100px;
    height: 30px;
    margin-left: 25px;
    text-align: right;
    /* background-color: beige; */
}

.remove-btn {
    /* position: absolute; */
    border-radius: 5px;
    border: 0px;
    width: 40px;
    height: 25px;
    background-color: red;
    color: white;
    font-size: 10px;
    padding: 2px;
    margin: auto;
    margin-left: 10px;
    justify-content: flex-end;

    /* right: 25px;
    top: 10px;
    bottom: 10px; */
    

}

.price {
    width: 75px;
}
.btn-order {
    position: relative;
    width: 40%;
    margin:2px 115px;

}

/* ANIMATIONS */

@keyframes drop {
    from {
        top: 0px;
    }
    to {
        top: 100px;
    }
}




/* LOGIN REGISTER */

.confirm-order-container {
    background-color: beige;
    width: 300px;
    padding: 15px;
}

.form-control {
    margin: 5px auto;
}


/* EMPLOYEE SIDE */

.page-header {
    display: flex;
    text-align: center;
    justify-content: center;
}

#archive-button {
    position: absolute;
    right: 40px;
    top: 58px;
}

.all-orders-container {
    display:flex;
    position: relative;
}
.todo-orders-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 90%;
    background-color: green;
    color: black;
    margin-left: 10px;
    padding: 5px;
}

.todo-order, .finished-order {
    background-color: beige;
    margin-top: 7px;
    font-size: 16px;
    padding: 5px;
    
    /* width: 50%; */

}

.todo-table > td, th, tr {
    border: 1px solid black;
    /* width: 100%; */
    width: 200px;
    text-align: right;

}

.todo-order-item-container {
    position: relative;/* Maybe*/
    /* margin-left: 50px;
    margin-right: 50px; */
    padding:3px;
}

#finished-orders-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 90%;
    background-color: green;
    color: black;
    margin-left: 100px;

    padding: 5px;
}

.fa-arrow-right {
    position: absolute;
    right: 20px;
    color: green;
}

.fa-arrow-right:hover {
    background-color: rgb(200, 209, 199);

}

.fa-arrow-right:active {
    background-color: greenyellow;
    transform: translateY(1px);
}

.fa-check {
    position: absolute;
    right: 20px;
    color: green;
}

.fa-check:hover {
    background-color: rgb(200, 209, 199);

}

.fa-check:active {
    background-color: greenyellow;
    transform: translateY(1px);
}


/* Reservations */

#reservation-calendar-container {
    /* background-color: beige; */
    display: flex;
    flex-wrap: wrap;
    width: 770px;
    justify-content: center;
    margin: auto; /* centers the container*/
    background-color: beige;
    color: black;
}

#calendar-header {
    padding: 10px;
    color: black;
    background-color: beige;
    font-size: 26px;
    /* display: flex; */
    justify-content: space-between;
}

#reservation-calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
#nextButton {
    background-color: green;
}

#weekdays {
    width: 100%;
    display: flex;

}

#weekdays div {
    width: 100px;
    padding: 10px;
}

.weekday-header{
    width: 100px;
    margin: 5px;
    text-align: center;
}

.day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    margin: 5px;
    box-shadow: 0px 0px 3px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.day:hover {
    background-color: rgb(185, 185, 163)
}

.day + #current-day {
    background-color: rgb(204, 204, 163);
}

#current-day:hover {
    background-color: rgb(185, 195, 163)
}
.padding {
    cursor: default;
    /* background-color: green; */
    box-shadow: none;
}

.padding:hover {
    background-color: beige;
}
.past-date {
    background-color: rgb(187, 187, 166);
}

.past-date:hover {
    background-color: rgb(187, 187, 166);
}

#modal-backdrop {
    display: none;
    top:0px;
    left:0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    /* position: absolute; */
    position: fixed;
    background-color: rgba(0,0,0,0.8)
}

#reservation-modal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: beige;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width:350px;
    top:200px;
    left: calc(50% - 175px);
    position: absolute;

}

/* Employee-side reservation detilas */
.reservation-flex-container {
    display: flex;
}

#show-reservations-modal {
    background-color: green;
    display: none;
    z-index: 20;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 750px;
    top:100px;
    left: calc(50% - 375px);
    position: absolute;
    /* flex-wrap: wrap; */
}
#show-reservations {
    color: black;
    display: flex;
    flex-wrap: wrap;
}

.reservation-detail {
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    margin:12px;
    width: 225px;
    position: relative;
}

.reservation-clicked {
    background-color: grey;
}

.fa-plus {
    position: absolute;
    z-index: 1;
    width: 25px;
    color: green;
    right: 5px;
    top: 10px;
}

.fa-plus:hover {
    color: rgb(215, 241, 215);
}